@font-face {
  font-family: "TrajanPro-Bold";
  src: url(TrajanPro-Bold.otf);
}

header {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8rem;
  background-color: #02030c;
  color: white;
  margin: 0;
  padding: 1rem;
  top: 0;
  height: 2.2rem;
}

header button {
  font-family: "TrajanPro-Bold";
  font-size: 1rem;
  background-color: #02030c;
  color: white;
  border: none;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}

header button:hover {
  scale: 0.85;
}

body {
  font-family: "TrajanPro-Bold";
  margin: 0;
  padding: 0;
  background-color: #02030c;
}

.container {
  position: relative;
  margin: auto;
  width: 1132px;
  height: 801px;
  background-image: url("hollowknightmap.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hover {
  position: absolute;
  cursor: pointer;
  background-color: aqua;
  opacity: 20%;
  pointer-events: auto;
}

footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  background-color: #02030c;
  color: white;
  margin: 0;
  padding: 1rem;
}

footer button {
  font-family: "TrajanPro-Bold";
  font-size: 1rem;
  background-color: #02030c;
  color: white;
  border: none;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}

footer button:hover {
  scale: 0.85;
}

.hidden {
  display: none !important;
}

#music-list-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: white;
  font-family: "TrajanPro-Bold";
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.music-list-menu {
  text-align: center;
  font-size: 2rem;
}

.music-list-menu h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.menu-line {
  border: none;
  border-top: 2px solid white;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-list li {
  margin: 10px 0;
  font-size: 1.4rem;
}

.menu-list button {
  font-family: "TrajanPro-Bold";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px 100px;
  font-size: 1.4rem;
  cursor: pointer;
}

#back-to-map {
  font-family: "TrajanPro-Bold";
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 8px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

#back-to-map:hover {
  scale: 0.85;
}

#back-to-map-2 {
  font-family: "TrajanPro-Bold";
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 8px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

#back-to-map-2:hover {
  scale: 0.85;
}

#settings-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: white;
  font-family: "TrajanPro-Bold";
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.settings-list-menu {
  text-align: center;
  font-size: 2rem;
}

.settings-list-menu h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.settings-list {
  list-style: none;
  padding: 0;
}

.settings-list li {
  margin: 10px 0;
  font-size: 1.4rem;
}

.settings-list button {
  font-family: "TrajanPro-Bold";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px 100px;
  font-size: 1.4rem;
  cursor: pointer;
}
